/* .conjunto-caixa{
  border: 1px dotted blue;
} */
#title{
    font-size: 300%;
}
.caixa{
  border: 5px solid #444;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.caixa p{
  font-size: 200%;
  text-align: center;
}
.valor-p{
  font-size: 25px;
  text-align: center;
  width:60px;
}
.numberPlaceholder{
  font-size: 600%;
  margin-bottom: 50px;
}
.sumPlaceholder-container{
  margin-bottom: 100px;
  margin-top: 100px;
  cursor: pointer;
}
/* .divisor{
  margin-top:180px;
} */
